.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* white */
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.1rem;
  color: #374151; /* gray-700 */
}
.link {
  color: #3b82f6; /* blue */
  text-decoration: none;
  font-weight: bold;
}
.link:hover {
  text-decoration: underline;
}   