.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6; /* gray-100 */
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.2rem;
  color: #374151; /* gray-700 */
  text-align: center;
}
.button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #3b82f6; /* blue-500 */
  color: white;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  cursor: pointer;
}
.button:hover {
  background-color: #2563eb; /* blue-600 */
}  